h1
{
text-align:center;	
color:#42EC23;
}
form
{
text-align:center;
border:solid;
border-color:#F013B4;
border-width:10px;
color:#F8E130; 
text-shadow:2px 2px #3EF830;
background-color:#F330F8;

}
.best
{
text-transform:uppercase;	
}
.sign
{
text-transform:uppercase;
text-align:center;	
}
.right
{
text-transform:uppercase;	
}
.big
{
background-color:pink;	
}

